@using myTaiwanTest.Models
@model IEnumerable<Text>
@{
    ViewBag.Title = "DynamicIndex";
    Layout = "~/Views/layout/_DynamicLayout.cshtml";
}

@* 挖洞 *@
<div class="dynamicTable">
    <ul class="dynamicBar">
        <li class="dynamicTextSpace">
            <div class="dynamicBarView">
                <div class="dynamicBarViewValue">
                    <a>放圖片的div</a>
                </div>
            </div>
            <div class="dynamicBarText">
                <div class="dynamicBarTextValue">
                    <label style="font-size:larger">UserID</label><br />
                    <label style="font-size:large;float:left">地點</label>
                    <label style="font-size:large;float:right">時間</label><br />
                    <label style="word-break: break-all">234234567874567898765467898765645678654567578654567867897657678567</label>
                </div>
            </div>
        </li>

        <li class="dynamicTextSpace">

        </li>
        <li class="dynamicTextSpace">

        </li>
        <li class="dynamicTextSpace">

        </li>
    </ul>
</div>

