
@{
    ViewBag.Title = "DynamicIndex";
    Layout = "~/Views/layout/_DynamicLayout.cshtml";
}

<div class="boxA">
    <div class="box margin-btm">
        <img src="/images/pic01.jpg" width="320" height="180" alt="" />
        <div class="details">
            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
        </div>
        <a href="#" class="button">More Details</a>
    </div>
    <div class="box">
        <img src="/images/pic02.jpg" width="320" height="220" alt="" />
        <div class="details">
            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
        </div>
        <a href="#" class="button">More Details</a>
    </div>
</div>
<div class="boxB">
    <div class="box">
        <img src="/images/pic03.jpg" width="320" height="280" alt="" />
        <div class="details">
            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
        </div>
        <a href="#" class="button">More Details</a>
    </div>
    <div class="box">
        <img src="/images/pic05.jpg" width="320" height="140" alt="" />
        <div class="details">
            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
        </div>
        <a href="#" class="button">More Details</a>
    </div>

</div>
<div class="boxC">
    <div class="box">
        <img src="/images/pic04.jpg" width="320" height="200" alt="" />
        <div class="details">
            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
        </div>
        <a href="#" class="button">More Details</a>
    </div>
    <div class="box">
        <img src="/images/pic06.jpg" width="320" height="200" alt="" />
        <div class="details">
            <p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
        </div>
        <a href="#" class="button">More Details</a>
    </div>

</div>

