@model myTaiwanTest.Models.Sign

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/layout/SignIn.cshtml";
}

<img id="pic">
<img id="picCover">
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" id="pic1">
            <img src="~/image/女3.png" style="width:60%">
        </div>

        <div class="firstPageForm col-md-4 col-sm-4 col-xs-4">
            @using (Html.BeginForm("LogIn","Signs"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form method="post" action="~/Signs/LogIn" name="login">
                    <div class="name1">
                        <p>My Taiwan</p>
                    </div>
                    <div>
                        <input type="text" id="name" placeholder="name" name="name" class="aput" />
                    </div>
                    <div>
                        <input type="password" id="passwords" placeholder="passwords" name="passwords" class="aput" />
                    </div>
                    <div style="display:inline;">
                        <a href=""><input type="submit" id="login" value="Log In" name="login" class="btn" /></a>
                    </div>
                    <div>
                        <a href="forgetpassword.html"><h6>忘記密碼?</h6></a>
                    </div>

                </form>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form method="post" action="" name="sign" id="signUp">
                    <div class="name1">
                        <p>New Friend?</p>
                    </div>
                    <div>
                        <input type="text" placeholder="name" name="name" id="SignInName" class="aput" />
                        <img src="~/image/notwrite.png" class="nowrite" id="nw1" style="display:none" />
                    </div>
                    <div>
                        <input type="email" placeholder="email" name="email" id="email" class="aput" />
                        <img src="~/image/notwrite.png" class="nowrite" id="nw2" style="display:none" />
                    </div>
                    <div>
                        <input type="password" name="passwords" placeholder="passwords" id="SignInPass" class="aput" />
                        <img src="~/image/notwrite.png" class="nowrite" id="nw3" style="display:none" />
                    </div>
                    <div>
                        <a href=""> <input type="submit" name="submit" value="Sign Up" id="register" class="btn" onclick="JavaScript: return summitAction();" /></a>
                    </div>
                    <div>
                        <a href="private.html"><h6>註冊，即表示你同意我們的使用條款與隱私政策 。</h6></a>
                    </div>
                </form>
            }
        </div>
    </div>


    <div id="footer">
        <nav>
            <a href="aboutus.html">關於我們</a>|
            <a href="support.html">支援</a>|
            <a href="English.html">英文</a>
        </nav>
        <span>2016 MyTaiwan</span>
        <img />
    </div>
</div>
<script>
    function check() {
        var k =0;

        var x = document.getElementById("SignInName").value;
        if (x == "") {
            document.getElementById("nw1").style.display = "inline"
            k++;
        } else {
            document.getElementById("nw1").style.display = "none"
        }
        
        var y = document.getElementById("email").value;
        if (y == "") {
            document.getElementById("nw2").style.display = "inline"
            k++;
        }
        else {
            document.getElementById("nw2").style.display = "none";
        }

        var z = document.getElementById("SignInPass").value;
        if (z == "") {
            document.getElementById("nw3").style.display = "inline"
            k++;
        }
        else {
            document.getElementById("nw3").style.display = "none";
        }

        if (k == 0) {
            return true;
        }
        else {
            return false;
        }
        
  
    }
    function summitAction() {
        if (check()) {
            alert("都對");
            //document.getElementById("signUp").submit();
            return true;
        }else{
            alert("有錯");
            return false;
        }
    }
</script>


