@{
    Layout = "~/Views/layout/_LayoutIndex.cshtml";
}


<div class="container">
    <div class="page-header">
        <h1 id="hello">登入成功!!</h1>
    </div>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
</div>

<script>
    window.onload = function () {
        document.getElementById("hello").innerText = "Milktea"
    }
</script>



